/*Dokumen CSS*/

tulisan_miring{
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 18px;
    font-style: italic;
}
.cetak_tebal{
    font-family:Verdana, Arial, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color : skyblue;
}
#14pt{font-size: 14pt;}
p{
    font-family:Verdana, Arial, Tahoma, sans-serif;
}
td {
    font-weight: bold;
}
a{
    font-size: 24px;
}